{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Welcome - {{super()}}{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}
{% if username %}
    <h1>Hello world from Flask {{ username }}!</h1>
{% endif %}
{% if user_ip %}
    <h3>Your ip is {{ user_ip }}</h3>
{% else %}
    <a href="{{ url_for('index') }}">Go to Index</a>
{% endif %}
<div class="row">
    <div class="col-sm-12">
        <h2>Create new task</h2>
        {{ wtf.quick_form(todo_form )}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
        {% for todo in todos %}
            {{ macros.render_todo(todo, delete_todo_form) }}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}